<section>
        <div class="container mt-5">
            <div class="row">
                {{#each product}}
                <div class="col-md-3 p-3" >
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top"
                        src="/product-images/{{this._id}}.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{phone}}</h5>
                            <p class="card-text">{{discription}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                
               {{/each}}
            </div>
        </div>
    </section>

   